<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csj.mapper.OrderInfoMapper">

  <select id="mySearch" resultType="com.csj.entity.OrderInfo">
    select order_id, order_number from order_info
  </select>

</mapper>